body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(255,255,255);
    font-size: 40px;
}
p,h1,h2,h3,h4,h5,h6,a{
    font-family: 'VT323', monospace;
}
body div{
    width: 70%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
